
.container {
  position: relative;
  width: 40%;
  height: 70%;
}

.image {
  position: relative;
  width: 100%;
  object-fit: cover;
}

.broken-glass {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* transform: rotate(-90deg) scale(1.27) translate(-0.8rem, 0); */
  z-index: -1;
  object-fit: cover;
}

area:hover {
  cursor: pointer;
}

.page {
  display: flex;
}