
.container {
  position: relative;
  width: 40%;
  height: 70%;
}

.image {
  position: relative;
  width: 100%;
  object-fit: cover;
  z-index: 3;
}

.broken-glass, .bg3 {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 6;
  object-fit: cover;
}

/* used in Coupe */
.broken-glass {
  transform: scaleX(0.89) scaleY(0.89) translateY(-2.4%);
}

/* used in the rest of the cars */
.bg3 {
  transform: scaleX(0.955) scaleY(0.955) translateY(-2.43%) translateX(0.01%);
}

/* image map class */
area:hover {
  cursor: pointer;
}

/* transparent layer for image map */
.selection-layer {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  transform: scaleY(0.95) scaleX(0.96) translate(0, -2.1%);
  z-index: 98;
  opacity: 0;
}

.button-container {
  width: 80%;
  margin: 30px 50px 20px 50px;
  display: flex;
  justify-content: center;
}

.window-button-active {
  margin: 0 10px 15px 0;
  font-weight: bold;
}

.window-button-inactive {
  margin: 0 10px 15px 0;
  background: none;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button:hover {
  cursor: pointer;
}

.popup {
  position: absolute;
  z-index: 99;
}

.popup-button {
  margin: 10px;
}