
.category-card {
    position: sticky;
    width: 17%;
    margin: 0;
    padding: 0;
    top: 0;
    height: 100vh;
    position: fixed;
    overflow: auto;
    border-radius: 0;
    background-color: #1b2230e5;
    /* box-shadow: 0 0 22px 25px #222222ce; */
    border: none;
}

.list-group {
    --bs-list-group-bg: none;
}

.list-group-item {
    border: none;
}

.nav-category {
    margin-left: 40px;
    font-weight: 300;
    background: none;
    font-size: 102%;
}

.nav-element {
    font-weight: 500;
    font-size: 105%;
    margin-left: 20px;
}

.nav-element, .nav-category, .nav-category-active {
    display: block;
    color: rgb(255, 255, 255);
    /* padding: 8px 16px; */
    text-decoration: none;
    margin-bottom: 5px;
}

.nav-element:hover, .nav-category:hover {
    color: rgb(185, 185, 185);
}

.nav-category-active {
    color: black;
    margin-left: 40px;
    font-weight: 300;
    background: none;
    font-size: 102%;
}

.nav-category-active:hover {
    color: black;
}

.nav-header {
    margin: 55px 0 40px 20px;
    color: white;
    font-weight: 600;
    font-size: 240%;
}

.category-active {
    background-color: #d1d1d1;
    box-shadow: 0 0 1px 1px #d1d1d1;
    border-radius: 5px;
}

.background-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.page {
    margin-left: 20%;
    top: 0%;
    color: rgb(15, 15, 15);
}

.white-text {
    color: white;
}

.carousel-item {
    align-items: center;
}

.alert {
    position: fixed;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 50%;
    height: 20%;
    background: #ebfcf9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    overflow: hidden;
}